<div class="table table_wrapper">
	<div class="table__cell">
		<div class="table table_vertical">
			<div class="table__row">
				<div class="table__image">
					<img src="./images/table1.png" alt="Замер и расчет сметы" class="table__img" />
				</div>
				<div class="table__title">Замер и расчет сметы</div>
				<ul class="table__list">
					<li>Рассчитываем первую смету за 2 часа</li>
					<li>Замеряем бесплатно на следующий день</li>
					<li>Рассчитываем финальную смета через 24 часа</li>
				</ul>
			</div>
			<div class="table__row">
				<div class="table__image">
					<img src="./images/table3.png" alt="Официальный договор" class="table__img" />
				</div>
				<div class="table__title">Официальный договор</div>
				<ul class="table__list">
					<li>Смету окончательно фиксируем в договоре</li>
					<li>Выполняем оговоренные сроки или платим неустойку</li>
					<li>Получаем оплату после выполнения работ</li>
					<li>Предоставляем все необходимые документы СРО</li>
				</ul>
			</div>
			<div class="table__row">
				<div class="table__image">
					<img src="./images/table5.png" alt="Сотрудники" class="table__img" />
				</div>
				<div class="table__title">Сотрудники</div>
				<ul class="table__list">
					<li>Мастера по каждому отдельному направлению ремонта</li>
					<li>Все мастера граждани РФ с опытом от 5 лет</li>
					<li>Офис в центре Москвы для встречи с дизайнером или инженером</li>
					<li>Еженедельные отчеты и фотофиксация проделанной работы</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="table__cell">
		<div class="table table_vertical">
			<div class="table__row">
				<div class="table__image">
					<img src="./images/table2.png" alt="Ремонт «под ключ»" class="table__img" />
				</div>
				<div class="table__title">Ремонт «под ключ»</div>
				<div class="table__text">Забудьте о поиске десятков подрядчиков,<br>Мы делаем настоящий Ремонт «под ключ»:</div>
				<ul class="table__list">
					<li>Разработка дизайн-концепции</li>
					<li>Проектирование инженерных систем</li>
					<li>Ремонтные и монтажные работы</li>
					<li>Комплектация квартиры всем необходимым</li>
					<li>Гарантийное и сервисное обслуживание</li>
				</ul>
			</div>
			<div class="table__row">
				<div class="table__image">
					<img src="./images/table4.png" alt="Материалы и оборудование" class="table__img" />
				</div>
				<div class="table__title">Материалы и оборудование</div>
				<ul class="table__list">
					<li>Работаем только с новейшим и современным оборудованием</li>
					<li>Используем материалы зарубеных производителей: Германия, Италия, Франция</li>
					<li>Выкупаем остатки после ремонта</li>
					<li>Вывозим мусор и убираем объект</li>
				</ul>
			</div>
			<div class="table__row">
				<div class="table__image">
					<img src="./images/table6.png" alt="Гарантии" class="table__img" />
				</div>
				<div class="table__title">Гарантии</div>
				<ul class="table__list">
					<li>Оплата по факту после принятий работы</li>
					<li>Гарантия 2 до 5 лет на все виды услуг и материалы</li>
				</ul>
			</div>
		</div>
	</div>
</div>