{% set footer = {
	"name": "",
	"inn": "0123456789"
}%}

<div class="footer">
	<div class="footer__content">
		<div class="footer__dev">Разработка сайта: {{ footer.name }}</div>
		<div class="footer__info">ИНН {{ footer.inn }}</div>
	</div>
</div>