<ul class="card-list">
	<li class="card card_size_small">
		<a href="./images/carousel-big1.jpg" rel="card-group" class="card__link">
			<span class="card__image">
				<img src="./images/carousel1.jpg" class="card__img" alt="Двухкомнатная квартира" />
			</span>
			<span class="card__info">
				<span class="card__title">Двухкомнатная квартира</span>
				<span class="card__text">68 м<sup>2</sup>, Москва</span>
			</span>
		</a>
	</li>
	<li class="card card_size_big">
		<a href="./images/carousel-big1.jpg" rel="card-group" class="card__link">
			<span class="card__image">
				<img src="./images/carousel1.jpg" class="card__img" alt="Двухкомнатная квартира" />
			</span>
			<span class="card__info">
				<span class="card__title">Двухкомнатная квартира</span>
				<span class="card__text">68 м<sup>2</sup>, Москва</span>
			</span>
		</a>
	</li>
	<li class="card card_size_small">
		<a href="./images/carousel-big1.jpg" rel="card-group" class="card__link">
			<span class="card__image">
				<img src="./images/carousel1.jpg" class="card__img" alt="Двухкомнатная квартира" />
			</span>
			<span class="card__info">
				<span class="card__title">Двухкомнатная квартира</span>
				<span class="card__text">68 м<sup>2</sup>, Москва</span>
			</span>
		</a>
	</li>
	<li class="card card_size_small">
		<a href="./images/carousel-big1.jpg" rel="card-group" class="card__link">
			<span class="card__image">
				<img src="./images/carousel1.jpg" class="card__img" alt="Двухкомнатная квартира" />
			</span>
			<span class="card__info">
				<span class="card__title">Двухкомнатная квартира</span>
				<span class="card__text">68 м<sup>2</sup>, Москва</span>
			</span>
		</a>
	</li>
	<li class="card card_size_small">
		<a href="./images/carousel-big1.jpg" rel="card-group" class="card__link">
			<span class="card__image">
				<img src="./images/carousel1.jpg" class="card__img" alt="Двухкомнатная квартира" />
			</span>
			<span class="card__info">
				<span class="card__title">Двухкомнатная квартира</span>
				<span class="card__text">68 м<sup>2</sup>, Москва</span>
			</span>
		</a>
	</li>
	<li class="card card_size_big">
		<a href="./images/carousel-big1.jpg" rel="card-group" class="card__link">
			<span class="card__image">
				<img src="./images/carousel1.jpg" class="card__img" alt="Двухкомнатная квартира" />
			</span>
			<span class="card__info">
				<span class="card__title">Двухкомнатная квартира</span>
				<span class="card__text">68 м<sup>2</sup>, Москва</span>
			</span>
		</a>
	</li>
	<li class="card card_size_small">
		<a href="./images/carousel-big1.jpg" rel="card-group" class="card__link">
			<span class="card__image">
				<img src="./images/carousel1.jpg" class="card__img" alt="Двухкомнатная квартира" />
			</span>
			<span class="card__info">
				<span class="card__title">Двухкомнатная квартира</span>
				<span class="card__text">68 м<sup>2</sup>, Москва</span>
			</span>
		</a>
	</li>
</ul>