{% set cards = [
	{
		"bigImage": "./images/carousel-big1.jpg",
		"image": "./images/carousel1.jpg",
		"title": "Двухкомнатная квартира",
		"city": "Москва",
		"metr": "68"
	},
	{
		"bigImage": "./images/carousel-big1.jpg",
		"image": "./images/carousel1.jpg",
		"title": "2Двухкомнатная квартира",
		"city": "Москва",
		"metr": "68",
		"big": true
	},
	{
		"bigImage": "./images/carousel-big1.jpg",
		"image": "./images/carousel1.jpg",
		"title": "Двухкомнатная квартира",
		"city": "Москва",
		"metr": "68"
	},
	{
		"bigImage": "./images/carousel-big1.jpg",
		"image": "./images/carousel1.jpg",
		"title": "Двухкомнатная квартира",
		"city": "Москва",
		"metr": "68"
	},
	{
		"bigImage": "./images/carousel-big1.jpg",
		"image": "./images/carousel1.jpg",
		"title": "Двухкомнатная квартира",
		"city": "Москва",
		"metr": "68"
	},
	{
		"bigImage": "./images/carousel-big1.jpg",
		"image": "./images/carousel1.jpg",
		"title": "Двухкомнатная квартира",
		"city": "Москва",
		"metr": "68",
		"big": true
	},
	{
		"bigImage": "./images/carousel-big1.jpg",
		"image": "./images/carousel1.jpg",
		"title": "Двухкомнатная квартира",
		"city": "Москва",
		"metr": "68"
	}
]%}

<ul class="card-list">
	{% for item in cards %}
		{% include 'card/card.njk' %}
	{% endfor %}
</ul>