<div class="carousel">
	<div class="carousel__control">
		<a href="#" class="carousel__arrow carousel__arrow_prev"></a>
		<a href="#" class="carousel__arrow carousel__arrow_next"></a>
	</div>
	<ul class="carousel__list">
		<li class="carousel__item carousel__item_active">
			<a href="./images/carousel-big1.jpg" rel="carousel-group" class="carousel__link">
				<span class="carousel__image">
					<img src="./images/carousel1.jpg" class="carousel__img" alt="Двухкомнатная квартира" />
				</span>
				<span class="carousel__info">
					<span class="carousel__title">Двухкомнатная квартира</span>
					<span class="carousel__text">68 м<sup>2</sup>, Москва</span>
				</span>
			</a>
		</li>
		<li class="carousel__item">
			<a href="./images/carousel-big2.jpg" rel="carousel-group" class="carousel__link">
				<span class="carousel__image">
					<img src="./images/carousel2.jpg" class="carousel__img" alt="Двухкомнатная квартира" />
				</span>
				<span class="carousel__info">
					<span class="carousel__title">2 Двухкомнатная квартира</span>
					<span class="carousel__text">68 м<sup>2</sup>, Москва</span>
				</span>
			</a>
		</li>
		<li class="carousel__item">
			<a href="./images/carousel-big3.jpg" rel="carousel-group" class="carousel__link">
				<span class="carousel__image">
					<img src="./images/carousel3.jpg" class="carousel__img" alt="Двухкомнатная квартира" />
				</span>
				<span class="carousel__info">
					<span class="carousel__title">3 Двухкомнатная квартира</span>
					<span class="carousel__text">68 м<sup>2</sup>, Москва</span>
				</span>
			</a>
		</li>
	</ul>
</div>