{% set header = {
	"phone": "109-0-212",
	"mail": "info@bh-d.ru"
}%}

<div class="container header">
	<div class="header__contact">
		<div class="header__phone">
			+7 
			<span class="header__index">(495)</span> {{ header.phone }}
		</div>
		<div class="header__mail">
			<a href="mailto:{{ header.mail }}" class="header__mail-link">{{ header.mail }}</a>
		</div>
	</div>
	<div class="header__info">
		Комплексный ремонт квартир:<br> 
		проектирование, дизайн, ремонт
	</div>
	<div class="header__logo">
		<a href="/" class="header__logo-link">
			<img src="../images/logo.png" alt="Название" class="header__logo-img" />
		</a>
	</div>
</div>