<form class="form" action="" method="post">
	<div class="form__info">Оставьте заявку и получите подробную смету вашего ремонта в 3 вариантах уже через 2 часа</div>
	<div class="form__field">
		<label class="form__label" for="name">Введите ваше имя</label>
		<input type="text" class="form__input" id="name" />
	</div>
	<div class="form__field">
		<label class="form__label" for="phone">Введите ваш телефон</label>
		<input type="text" class="form__input" id="phone" />
	</div>
	<div class="form__field">
		<label class="form__label" for="mail">Введите вашу почту</label>
		<input type="text" class="form__input" id="mail" />
	</div>
	<input type="submit" value="Получить смету" class="form__btn">
</form>